
* {
box-sizing: border-box;
}
body {
background-color: white;
padding: 20px;
font-family: Arial;
}
.main {
max-width: 1000px;
margin: auto;
}
h2{
font-family:monospace;
background-color:peachpuff;
color:lightcoral;
text-align: center;
font-size: 30px;
padding: 8px 12px;
}
.row {
margin: 10px -16px;
}
.row,
.row > .column {
padding: 8px;
}
.column {
float:left;
width: 33.33%;
display: none;
}
.row:after {
content: "";
display: table;
clear: both;
}
.content {
background-color: peachpuff;
padding: 10px;
}
.show {
display: block;
}
.btn {
font-family:fantasy;
font-size: 20px;
border: none;
outline: none;
padding: 12px 16px;
background-color: peachpuff;
cursor: pointer;
}
.btn:hover {
background-color: #ddd;
}
.btn.active {
background-color: #666;
color: white;
}
